@import url("https://fonts.googleapis.com/css?family=Lato:400,700i");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello-world {
  position: relative;
  color: rgba(20,200,10,0.5);
  font-size: 3em;
}
.hello-world:before {
  position: absolute;
  content: "";
  top: -410%;
  height: 600%; /* 6X of .hello-world */
  width: 100%;
  background: url("images/hello.svg") 50% 50% / contain no-repeat;
}
.hello-world:after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: -10%;
  left: 0;
  height: 40%;
  width: 90%;
  background: rgba(150,150,150,0.5);
}

.hello-world__tech {
  font-weight: 700;
  font-style: italic;
}
.button{
  margin-left:80px;

}
.btn{
  color:rgba(190,200,250,1);
  margin-right:30px;
  border-radius:10px;
  background-color:rgba(10,20,250,0.9);
  border:1px solid rgba(150,150,100,0.5);
  padding:2px 8px;
}
